<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title></title>
        <%= stylesheet_link_tag "style" %>
        <%= javascript_include_tag "jquery", "application" %>
    </head>
    <body>
	    <%= content_tag(:div, Settings["system_message"], :id => "system_message") if Settings["system_message"] %>
        <div id="wrapper">
            <div id="main">
                <%= flashes %>
                <%= yield %>
            </div>
        </div>
    </body>
</html>
